<div class="panel panel-primary products-table">
    <div class="panel-heading products-table-heading">
        {{ pageTitle }}
    </div>
    <div class="row">
        <div class="col-md-2">
            <input type="text" [(ngModel)]="listFilter"/>
        </div>
        <div class="col-md-10">
            Filtered by: {{listFilter}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ currentRating }}
            <br>
            {{displayedMessage}}
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table"
                    *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Buy</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of filteredProducts'>
                        <td> 
                            <img 
                            class='product-image'
                            [src]='product.imageUrl'
                            [title]='product.productName'/>
                        </td>
                        <td>
                            <a [routerLink]="['/productDetails', product.productId]">
                             {{product.productName}} 
                             </a>
                             <pm-star [rating]='product.starRating'
                                      (notify)='onNotify($event)'
                                      (ratingClicked)='onRatingClicked($event)'>
                             </pm-star>
                        </td>
                        <td>
                            <button (click)='addToCart(product.productId)'>Add to cart</button>
                        </td>
                        <td> {{product.price}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>